<!DOCTYPE html>
<html lang="fa">

<head>
   <partial name="_MetaTags"/>
    <title>YektaKala | @ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/dependencies.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

    <div class="page-wrapper">
        <!-- start of page-header -->
        <partial name="_Header" />
        <!-- end of page-header -->
       
        <!-- start of page-content -->
       @RenderBody()
        <!-- end of page-content -->
       <partial name="_Footer" />
    </div>

    <partial name="_Scripts"/>
    @await RenderSectionAsync("Scripts",required:false)
  
</body>

</html>