@model RegisterViewModel;  
@{
    ViewData["Title"] = " ثبت نام";
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">

<head>
 <partial name="_MetaTags"/>
    <title>YektaKala | @ViewData["Title"] </title>
    <link rel="stylesheet" href="/css/dependencies.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

    <div class="page-wrapper">
        <header class="page-mini-header py-4">
            <div class="d-flex justify-content-center">
                <div class="logo-container">
                    <a href="/" class="logo"><img src="/images/logo-dark.svg" width="120" alt=""></a>
                </div>
            </div>
        </header>
        <main class="page-content page-auth">
            <!-- start of auth-container -->
            <div class="auth-container">
                <div class="auth-title mb-3">ثبت نام</div>
                <!-- start of auth-box -->
                <div class="auth-box ui-box">
                    <!-- start of auth-form -->
                    <form asp-controller="Account" asp-action="Register" method="post" class="auth-form">
                        <!-- start of form-element -->
                        <div class="form-element-row mb-5">
                            <input asp-for="UserName" type="text" class="form-control" placeholder="نام کاربری">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-element-row mb-5">
                            <input asp-for="Email"  type="text" class="form-control" placeholder=" ایمیل">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-element-row mb-5">
                            <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-element-row mb-5">
                            <input asp-for="RePassword"  type="password" class="form-control" placeholder="تکرار کلمه عبور">
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>
                        <!-- end of form-element -->
                        <!-- start of form-element -->
                        <div class="form-element-row mb-3">
                            <button type="submit" class="btn btn-primary">ادامه</button>
                        </div>
                        <!-- end of form-element -->
                        <!-- start of form-element -->
                        <div class="form-element-row">
                            <div>
                                با ورود و یا ثبت نام در سایت شما <a href="#" class="link"> 
                                    شرایط و
                                    قوانین
                                </a> استفاده
                                از تمام سرویس های
                                سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                            </div>
                        </div>
                        <!-- end of form-element -->
                    </form>
                    <!-- end of auth-form -->
                </div>
                <!-- end of auth-box -->
            </div>
            <!-- start of auth-container -->
        </main>
        <footer class="page-mini-footer">
          
            <div class="copy-right bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="text-muted text-md-start text-center">
                                کليه حقوق اين سايت متعلق به echo_designer
                                می‌باشد.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-muted text-md-end text-center">echo_designer - 2021 © Copyright</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


<partial name="_Scripts"/>

    <partial name="_ValidationScriptsPartial"/>

</body>

</html>